.fa-stack {
  margin: -0.8em;
}

.wd-w-95 {
  width: 95%;
}

.wd-mh-90 {
  max-height: 90%;
}

.wd-lh-inherit {
  line-height: inherit;
}

.wd-zindex-1 {
    z-index: 1;
}

.wd-zindex-2 {
    z-index: 2;
}